body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: "Inter", sans-serif;
}

.loading span {
  font-size: 2em;
  animation: blur 2s alternate infinite;
}

@keyframes blur {
  from {
    filter: blur(3px);
  }
  to {
    filter: blur(0);
  }
}

.loading span:nth-child(1) {animation-delay: 0;}
.loading span:nth-child(2) {animation-delay: 0.2s;}
.loading span:nth-child(3) {animation-delay: 0.4s;}
.loading span:nth-child(4) {animation-delay: 0.6s;}
.loading span:nth-child(5) {animation-delay: 0.8s;}
.loading span:nth-child(6) {animation-delay: 1s;}
.loading span:nth-child(7) {animation-delay: 1.2s;}


.loader-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: all;
    transition-duration: 0.3s;
    background-color: white;
}

.hv-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading {
    letter-spacing: 0.1em;
    font-size: 1.875rem;
    white-space: nowrap;
}